In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
cpi = pd.read_excel('Core CPI, seas. adj..xlsx', sheet = 1)

In [6]:
sa_cpi = cpi['South Africa'] #south afrian consumer price index

In [7]:
xrate = pd.read_excel('Real Effective Exchange Rate.xlsx', sheet =1)

In [8]:
sa_xrate = xrate['South Africa'] #south african real effective exchange rate

In [9]:
xport = pd.read_excel('Exports Merchandise, Customs, current US$, millions, seas. adj..xlsx', sheet =1)

In [10]:
sa_xport = xport['South Africa'] #south african exports

In [11]:
fres = pd.read_excel('Foreign Reserves, Months Import Cover, Goods.xlsx', sheet =1)

In [12]:
sa_fres = fres['South Africa'] #SA foreign reserves

In [13]:
imports = pd.read_excel('Imports Merchandise, Customs, current US$, millions, seas. adj..xlsx', sheet =1)

In [14]:
sa_imports = imports['South Africa'] #SA imports

In [15]:
industrial = pd.read_excel('Industrial Production, constant 2010 US$, seas. adj..xlsx', sheet =1)

In [16]:
sa_industrials = industrial['South Africa'] # SA industrial production

In [17]:
stocks = pd.read_excel('Stock Markets, US$.xlsx', sheet =1)

In [18]:
sa_stocks = stocks['South Africa'] #SA stock markets

In [19]:
tres = pd.read_excel('Total Reserves.xlsx', sheet =1)

In [20]:
sa_tres = tres['South Africa'] #SA total reserves

In [21]:
nomxrate = pd.read_excel('Nominal Effecive Exchange Rate.xlsx', sheet=1)

In [22]:
sa_nomxrate = nomxrate['South Africa'] # SA nominal effective exchange rate

In [32]:
xchange = sa_xrate.drop(sa_xrate.iloc[0])

In [36]:
cpindex = sa_cpi.drop(sa_cpi.iloc[0])
cpindex

1989.0          NaN
1990.0          NaN
1991.0          NaN
1992.0          NaN
1993.0          NaN
1994.0          NaN
1995.0          NaN
1996.0          NaN
1997.0          NaN
1998.0          NaN
1999.0          NaN
2000.0          NaN
2001.0          NaN
2002.0     76.55918
2003.0     80.48021
2004.0     78.53008
2005.0     79.68678
2006.0     81.15370
2007.0     85.04475
2008.0     90.75676
2009.0     97.46171
2010.0    101.44040
2011.0    105.02010
2012.0    109.80720
2013.0    115.51690
2014.0    121.97850
2015.0    128.63850
2016.0    135.84510
2017.0    142.29060
2018.0    146.73170
Name: South Africa, dtype: float64

In [38]:
exports = sa_xport.drop(sa_xport.iloc[0])
exports

1991.0     26513.08
1992.0     26806.48
1993.0     27290.37
1994.0     28411.19
1995.0     31846.64
1996.0     32502.69
1997.0     35207.32
1998.0     29475.55
1999.0     30414.38
2000.0     34082.65
2001.0     33559.03
2002.0     33844.15
2003.0     41573.14
2004.0     52210.23
2005.0     58954.33
2006.0     65869.45
2007.0     79220.86
2008.0     92015.75
2009.0     71397.28
2010.0     91174.26
2011.0    108781.40
2012.0     99898.76
2013.0     96289.27
2014.0     93377.33
2015.0     80991.71
2016.0     76138.20
2017.0     88950.68
2018.0          NaN
Name: South Africa, dtype: float64

In [42]:
final_imports = sa_imports.drop(sa_imports.iloc[0])
final_imports

1991.0          NaN
1992.0          NaN
1993.0     18243.70
1994.0     21471.16
1995.0     27027.61
1996.0     26851.67
1997.0     28156.03
1998.0     25845.67
1999.0     24093.49
2000.0     26748.20
2001.0     25014.98
2002.0     26536.92
2003.0     34231.60
2004.0     47792.61
2005.0     54927.36
2006.0     67665.81
2007.0     79932.16
2008.0     90067.59
2009.0     64948.20
2010.0     83067.85
2011.0    102661.00
2012.0    104221.00
2013.0    103531.40
2014.0     99773.53
2015.0     85616.95
2016.0     75126.88
2017.0     83302.70
2018.0          NaN
Name: South Africa, dtype: float64

In [44]:
industry = sa_industrials.drop(sa_industrials.iloc[0])
industry

1991.0    7.850000e+10
1992.0    7.610000e+10
1993.0    7.780000e+10
1994.0    8.050000e+10
1995.0    8.700000e+10
1996.0    9.030000e+10
1997.0    9.270000e+10
1998.0    9.210000e+10
1999.0    9.140000e+10
2000.0    9.540000e+10
2001.0    9.710000e+10
2002.0    1.010000e+11
2003.0    9.900000e+10
2004.0    1.030000e+11
2005.0    1.060000e+11
2006.0    1.110000e+11
2007.0    1.160000e+11
2008.0    1.150000e+11
2009.0    9.940000e+10
2010.0    1.040000e+11
2011.0    1.070000e+11
2012.0    1.090000e+11
2013.0    1.110000e+11
2014.0    1.110000e+11
2015.0    1.110000e+11
2016.0    1.120000e+11
2017.0    1.110000e+11
2018.0             NaN
Name: South Africa, dtype: float64

In [46]:
stock_market = sa_stocks.drop(sa_stocks.iloc[0])
stock_market

1990.0          NaN
1991.0          NaN
1992.0          NaN
1993.0          NaN
1994.0          NaN
1995.0          NaN
1996.0          NaN
1997.0          NaN
1998.0          NaN
1999.0          NaN
2000.0          NaN
2001.0          NaN
2002.0     26.17536
2003.0     32.05762
2004.0     46.32004
2005.0     62.42404
2006.0     84.68823
2007.0    108.13480
2008.0     90.11039
2009.0     76.32392
2010.0    105.48320
2011.0    117.98650
2012.0    115.24880
2013.0    116.73060
2014.0    122.20540
2015.0    110.13940
2016.0     94.53760
2017.0    110.75940
2018.0    124.46890
Name: South Africa, dtype: float64

In [48]:
total_reserves = sa_tres.drop(sa_tres.iloc[0])
total_reserves

1990.0     954.7425
1991.0    1074.6780
1992.0     989.7752
1993.0     792.6544
1994.0     879.2921
1995.0    1174.5250
1996.0     470.1466
1997.0    1200.8200
1998.0     933.3785
1999.0    1219.8340
2000.0    1007.6040
2001.0     657.0305
2002.0     875.0515
2003.0    1246.4380
2004.0    2601.4610
2005.0    3248.2950
2006.0    3632.4690
2007.0    4803.3250
2008.0    3428.4380
2009.0    5293.1660
2010.0    6428.0430
2011.0    5956.8700
2012.0    5893.7010
2013.0    4781.6400
2014.0    4265.9440
2015.0    3045.0260
2016.0    3412.7800
2017.0    3869.7940
2018.0          NaN
Name: South Africa, dtype: float64

In [53]:
full_data = pd.DataFrame({'Total Reserves':total_reserves, 'Stock Market':stock_market,'Imports': final_imports,'Exports':exports, 'Consumer Price Index':cpindex, 'Industrial Production':industry, 'Real Effective Exchange rate':xchange})

In [62]:
full_data

,Total Reserves,Stock Market,Imports,Exports,Consumer Price Index,Industrial Production,Real Effective Exchange rate
1989.0,NaN,NaN,NaN,NaN,NaN,NaN,2.621661
1990.0,954.7425,NaN,NaN,NaN,NaN,NaN,2.587400
1991.0,1074.6780,NaN,NaN,26513.08,NaN,7.850000e+10,2.759186
1992.0,989.7752,NaN,NaN,26806.48,NaN,7.610000e+10,2.853479
1993.0,792.6544,NaN,18243.70,27290.37,NaN,7.780000e+10,3.269305
1994.0,879.2921,NaN,21471.16,28411.19,NaN,8.050000e+10,3.548696
1995.0,1174.5250,NaN,27027.61,31846.64,NaN,8.700000e+10,3.625699
1996.0,470.1466,NaN,26851.67,32502.69,NaN,9.030000e+10,4.297124
1997.0,1200.8200,NaN,28156.03,35207.32,NaN,9.270000e+10,4.606554
1998.0,933.3785,NaN,25845.67,29475.55,NaN,9.210000e+10,5.528227
1999.0,1219.8340,NaN,24093.49,30414.38,NaN,9.140000e+10,6.112958
2000.0,1007.6040,NaN,26748.20,34082.65,NaN,9.540000e+10,6.942925
2001.0,657.0305,NaN,25014.98,33559.03,NaN,9.710000e+10,8.615467
2002.0,875.0515,26.17536,26536.92,33844.15,76.55918,1.010000e+11,10.502440
2003.0,1246.4380,32.05762,34231.60,41573.14,80.48021,9.900000e+10,7.546392
2004.0,2601.4610,46.32004,47792.61,52210.23,78.53008,1.030000e+11,6.439562
2005.0,3248.2950,62.42404,54927.36,58954.33,79.68678,1.060000e+11,6.364070
2006.0,3632.4690,84.68823,67665.81,65869.45,81.15370,1.110000e+11,6.768022
2007.0,4803.3250,108.13480,79932.16,79220.86,85.04475,1.160000e+11,7.052135
2008.0,3428.4380,90.11039,90067.59,92015.75,90.75676,1.150000e+11,8.272849
2009.0,5293.1660,76.32392,64948.20,71397.28,97.46171,9.940000e+10,8.418819
2010.0,6428.0430,105.48320,83067.85,91174.26,101.44040,1.040000e+11,7.320391
2011.0,5956.8700,117.98650,102661.00,108781.40,105.02010,1.070000e+11,7.263198
2012.0,5893.7010,115.24880,104221.00,99898.76,109.80720,1.090000e+11,8.207109
2013.0,4781.6400,116.73060,103531.40,96289.27,115.51690,1.110000e+11,9.651338
2014.0,4265.9440,122.20540,99773.53,93377.33,121.97850,1.110000e+11,10.848210
2015.0,3045.0260,110.13940,85616.95,80991.71,128.63850,1.110000e+11,12.767500
2016.0,3412.7800,94.53760,75126.88,76138.20,135.84510,1.120000e+11,14.706100
2017.0,3869.7940,110.75940,83302.70,88950.68,142.29060,1.110000e+11,13.314300
2018.0,NaN,124.46890,NaN,NaN,146.73170,NaN,12.545140

In [64]:
#from 2002 to 2017
data = full_data.drop(full_data.index[[0,1,2,3,4,5,6,7,8,9,10,11,12]])

In [65]:
data

,Total Reserves,Stock Market,Imports,Exports,Consumer Price Index,Industrial Production,Real Effective Exchange rate
2002.0,875.0515,26.17536,26536.92,33844.15,76.55918,1.010000e+11,10.502440
2003.0,1246.4380,32.05762,34231.60,41573.14,80.48021,9.900000e+10,7.546392
2004.0,2601.4610,46.32004,47792.61,52210.23,78.53008,1.030000e+11,6.439562
2005.0,3248.2950,62.42404,54927.36,58954.33,79.68678,1.060000e+11,6.364070
2006.0,3632.4690,84.68823,67665.81,65869.45,81.15370,1.110000e+11,6.768022
2007.0,4803.3250,108.13480,79932.16,79220.86,85.04475,1.160000e+11,7.052135
2008.0,3428.4380,90.11039,90067.59,92015.75,90.75676,1.150000e+11,8.272849
2009.0,5293.1660,76.32392,64948.20,71397.28,97.46171,9.940000e+10,8.418819
2010.0,6428.0430,105.48320,83067.85,91174.26,101.44040,1.040000e+11,7.320391
2011.0,5956.8700,117.98650,102661.00,108781.40,105.02010,1.070000e+11,7.263198
2012.0,5893.7010,115.24880,104221.00,99898.76,109.80720,1.090000e+11,8.207109
2013.0,4781.6400,116.73060,103531.40,96289.27,115.51690,1.110000e+11,9.651338
2014.0,4265.9440,122.20540,99773.53,93377.33,121.97850,1.110000e+11,10.848210
2015.0,3045.0260,110.13940,85616.95,80991.71,128.63850,1.110000e+11,12.767500
2016.0,3412.7800,94.53760,75126.88,76138.20,135.84510,1.120000e+11,14.706100
2017.0,3869.7940,110.75940,83302.70,88950.68,142.29060,1.110000e+11,13.314300
2018.0,NaN,124.46890,NaN,NaN,146.73170,NaN,12.545140

In [68]:
final_data = data.drop(data.index[16])

In [69]:
final_data

,Total Reserves,Stock Market,Imports,Exports,Consumer Price Index,Industrial Production,Real Effective Exchange rate
2002.0,875.0515,26.17536,26536.92,33844.15,76.55918,1.010000e+11,10.502440
2003.0,1246.4380,32.05762,34231.60,41573.14,80.48021,9.900000e+10,7.546392
2004.0,2601.4610,46.32004,47792.61,52210.23,78.53008,1.030000e+11,6.439562
2005.0,3248.2950,62.42404,54927.36,58954.33,79.68678,1.060000e+11,6.364070
2006.0,3632.4690,84.68823,67665.81,65869.45,81.15370,1.110000e+11,6.768022
2007.0,4803.3250,108.13480,79932.16,79220.86,85.04475,1.160000e+11,7.052135
2008.0,3428.4380,90.11039,90067.59,92015.75,90.75676,1.150000e+11,8.272849
2009.0,5293.1660,76.32392,64948.20,71397.28,97.46171,9.940000e+10,8.418819
2010.0,6428.0430,105.48320,83067.85,91174.26,101.44040,1.040000e+11,7.320391
2011.0,5956.8700,117.98650,102661.00,108781.40,105.02010,1.070000e+11,7.263198
2012.0,5893.7010,115.24880,104221.00,99898.76,109.80720,1.090000e+11,8.207109
2013.0,4781.6400,116.73060,103531.40,96289.27,115.51690,1.110000e+11,9.651338
2014.0,4265.9440,122.20540,99773.53,93377.33,121.97850,1.110000e+11,10.848210
2015.0,3045.0260,110.13940,85616.95,80991.71,128.63850,1.110000e+11,12.767500
2016.0,3412.7800,94.53760,75126.88,76138.20,135.84510,1.120000e+11,14.706100
2017.0,3869.7940,110.75940,83302.70,88950.68,142.29060,1.110000e+11,13.314300